<!-- <div class="mt-3 ps-3" style="color: aliceblue;font-size: small;font-family: Arial, Helvetica, sans-serif;">

<h3>{{data}}</h3> -->
<!-- </div> --> 


<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-lg-6  ">
  <img class="w-50 " src="assets/r4ca3r-removebg-preview.png" alt="">
    </div>


    <div class="col-md-6 col-lg-6">
      <div class="box">
  

        <div class="login-box">
          <h2>Sign in</h2>
          <form [formGroup]="loginForm" >
            <div class="user-box">
              <input formControlName="acno"  id="u1" type="number"  name="acno"  placeholder="account number" required="">
              
            </div>
            <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched " class="text-start ms-2">
              <p class="text-danger">include numbers only</p>
                </div>
            
            <div class="user-box">
              <input  formControlName="psw" id="p1" type="password" name="password"  placeholder="Password" required="">
              
            </div>

            <div *ngIf="this.loginForm.get('psw')?.errors&&this.loginForm.get('psw')?.touched " class="text-start ms-2">
              <p class="text-danger">include characters and numbers </p>
                </div>
                
            <a  (click)="login()">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              LOGIN
            </a>
           
           
          </form>
           <div style="color: aliceblue;">
               <p >dont have an account &nbsp;  <a href="register">create account</a></p>  <!--   <-- routerLink --> 
            </div>
        </div>
        
        <br>
        
        
        
        </div>
        
    </div>
  </div>
</div>















