<div class="box">
  <div class="login-box">
    <h2>Register</h2>
    <form [formGroup]="registerForm">
      <div class="user-box">
        <input
         formControlName="acno"
          id="a1"
          type="number"
          name="acnum"
          placeholder="account number"
          required=""
        />
      </div>

      <div *ngIf="this.registerForm.get('acno')?.errors&&this.registerForm.get('acno')?.touched " class="text-start ms-2">
    <p class="text-danger">include numbers only</p>
      </div>

      <div class="user-box">
        <input
        formControlName="uname"
          id="u1"
          type="text"
          name="user name"
          placeholder="user name"
          required=""
        />
      </div>

      <div *ngIf="this.registerForm.get('uname')?.errors&&this.registerForm.get('uname')?.touched " class="text-start ms-2">
        <p class="text-danger">include characters only</p>
          </div>

      <div class="user-box">
        <input
        formControlName="psw"
          id="p1"
          type="password"
          name="password"
          placeholder="Password"
          required=""
        />
      </div>

      <div *ngIf="this.registerForm.get('psw')?.errors&&this.registerForm.get('psw')?.touched " class="text-start ms-2">
        <p class="text-danger">include characters and numbers </p>
          </div>

      <a (click)="register()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        REGISTER
      </a>
    </form>
    <div style="color: aliceblue">
      <p>Already have an account &nbsp; <a href="">login</a></p>
      <!--   <-- routerLink -->
    </div>
  </div>

  <br />
</div>
